li {
  display: inline-block;
  width: 11%;
  height: 15%;
  margin-left: 1.1%;
  margin-top: 2%;
  border: 2px black solid;
  height: 30px;
  font-size: 12px;
}

ul li {
}

.hidden {
  display: none;
}

.class {
  border: 2px black solid;
  width: 80%;
}

section {
  border: 2px black solid;
  margin-left: 9%;
  margin-top: 10%;
  width: 80%;
  text-align: center;
  height: 50%;
}
