* {
  color: black;
  border: 2px solid black;
}

li {
  display: inline-block;
  width: 9.5%;
  height: 15%;
  margin-left: .8%;
  border: 2px black solid;
  height: 50px;
}

ul li {
}

.hidden {
  display: none;
}

.class {
  border: 2px black solid;
  width: 80%;
}
